@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #757575;
    color: #ffff;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

/* headings and logo */

h1,
h2,
h3,
 i {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #ffff;
}

h4 {
    font-family: Montserrat, sans-serif; 

}
i {
    font-size: 2rem;
}

#logo {
    float: left;
    font-size: 2.5rem;
    margin-left: 20px;
    line-height: 75px;
}

/* navigation link */

#menu {
    font-size: 100%;
    letter-spacing: 5px;
    line-height: 150px;
}

nav ul {
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
    font-family: Montserrat, sans-serif;
}

#menu a {
    text-decoration: none;
    padding: 20px;
    color: inherit;

}

#menu a:hover {
    background-color: #ffff;
    color: #757575;
    border-radius: 10px;
}

.active {
    border: 2px solid #ffff;
    color: #757575;
    border-radius: 10px;
}

/* Hero image */

#hero-outer {
    height: 1700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 1700px;
    width: 100%;
    background: url(../images/hero-peace-lily-hands-2.webp) no-repeat center center;
    border-radius: 10px;

}

#hero-plant-info {
    width: 250px;
    height: 250px;
    background-color: rgba(117, 117, 117, .8);
    top: 250px;
    left: 20px;
    position: absolute;
    border-radius: 50%;
    padding: 50px;
    text-align: center;
}

#hero-plant-info h3 {
    font-style: italic;
    margin: 5px;
    letter-spacing: normal;
}

/* The Science section */

#the-science {
    margin: 30px 20%;
    text-align: center;
    margin-bottom: 60px;
}

#the-science h3 {
    margin: 25px;
    text-decoration: underline;
}

/* air purifying plants photos * 6 */

#six-plants {

    height: 1600px;
}

#six-plants h2, #six-plants h3  {
    background-color:rgba(117, 117, 117, .5) ;
    position: relative;
    padding-left: 60px;
}

#snake {
    background: url(../images/snake-plant.webp) no-repeat center center;
    height: 600px;
    width:50%;
    background-size: cover;
    overflow: hidden;
    border-radius: 10px;
    float:left;
}

#rubber {
    background: url(../images/rubber-plant.webp) no-repeat center center;
    height: 600px;
    width:50%;
    background-size: cover;
    overflow: hidden;
    border-radius: 10px;
    float:right;
}

#spider {
    background: url(../images/spiderplant.webp) no-repeat center center;
    height: 600px;
    width:50%;
    background-size: cover;
    overflow: hidden;
    border-radius: 10px;
    float:left;
}

#aloe {
    background: url(../images/aloe-vera.webp) no-repeat center center;
    height: 600px;
    width:50%;
    background-size: cover;
    overflow: hidden;
    border-radius: 10px;
    float:right;
}
#english-ivy {
    background: url(../images/english-ivy.webp) no-repeat center center;
    height: 600px;
    width:50%;
    background-size: cover;
    overflow: hidden;
    border-radius: 10px;
    float:left;
}

#bamboo {
    background: url(../images/bamboo-palm.webp) no-repeat center center;
    height: 600px;
    width:50%;
    background-size: cover;
    overflow: hidden;
    border-radius: 10px;
    float:right;
}




/* footer */
footer {
    height: 150px;
}

.various-links{
text-align: center;
}

.various-links > li {
    display: inline;
}

.various-links i {
font-size: 200%;
margin: 1%;
padding: 10%;
color:#ffff;
}

/* Plants page */

.plant-info {

    height: 400px;
    width:100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 30px 0;
}


.info-left {
    padding-top: 30px;
    float: left;
    width: 33%;

}

.info-left > div {

    width:50%; 
    margin: 0 auto;
    line-height: 20px;
    clear:both;

}

.info-right{
    padding-top: 30px;
    float: right;
    width:33%;

}

.info-right > div {

    width:50%; 
    margin: 0 auto;
    line-height: 20px;
    text-align: center;
    clear:both;
    

}


.plant-center-photo {
    background-size: cover;
    margin: 0 auto;
    width: 33%;
}

.square-container {
    width:300px;
    height:300px;
    /* padding:30px; */
    border: 3px solid #ffff ;
    border-radius: 10px;
    margin: 0 auto;
}

.square-cover-bg {
    height:100%
}

.square-cover-bg img {
    height:100%;
}

/* gallery page */

#gallery-title {
    clear: both;
    height: 150px;
}
#gallery-title > h2 {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0;
    height:auto;
    padding-bottom: 0;
}

#photos > img {
    width: 100%;
    border-radius: 10px;
}

/* sign up to news letter page */

.form-section {
    clear: both;
    background: url(../images/signup-peace.jpg);
    background-size: cover;
    height: 900px;
    background-position:center;
    margin-top: 25px;
    padding: 10px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color:#ffff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width:400px;
    position: absolute;
    right:5%;
    padding:30px;
}

.signup-form > h2 {
    margin: 10px 0 25px 25px;
}

.text-input {
    background: transparent;
    color:#ffff;
    width:100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border:5px solid #ffff;
    border-radius:10px;
}

.text-input:hover {
    background-color: #ffff;
}

.join-button {
    color:#ffff ;
    background-color: #757575;
    margin: 15px 15px 15px 35px;
    border-radius: 15px;
    padding: 15px 35px;
    border: 5px solid #ffff;
}

.join-button:hover {
    background-color: #ffff;
    color: #757575;
}

/* Useful links page */

.useful-links {
    clear: both;
    height: 150px;
    margin: 25px;
    padding: 35px;
}

.useful-links > h2 {
    margin: 15px;
}


.useful-links a:hover {
color: #ffff;
}

/* media queries */
@media screen and (max-width:900px) {
#snake, #rubber, #spider, #aloe, #english-ivy, #bamboo{
    width: 100%;
}

.info-left, .info-right, .plant-center-photo {
    width: 100%;
    float: left;
    margin-top: 50px;
}
.plant-info {
    height:100%;
    border-bottom: 2px solid #ffff;
}
}

@media screen and (max-width: 800px){
    #photos{
        column-count: 1;
    }
}