@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #757575;
    color: #ffff;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

/* headings and logo */

h1,
h2,
h3 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #ffff;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 20px;
    line-height: 75px;
}

/* navigation link */

#menu {
    font-size: 100%;
    letter-spacing: 5px;
    line-height: 150px;
}

nav ul {
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
    font-family: Montserrat, sans-serif;
}

#menu a {
    text-decoration: none;
    padding: 20px;
    color: inherit;

}

#menu a:hover {
    background-color: #ffff;
    color: #757575;
    border-radius: 10px;
}

.active {
    border: 2px solid #ffff;
    color: #757575;
    border-radius: 10px;
}

/* Hero image */

#hero-outer {
    height: 1700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 1700px;
    width: 100%;
    background: url(../images/hero-peace-lily-hands-2.jpg) no-repeat center center;
    border-radius: 10px;

}

#hero-plant-info {
    width: 250px;
    height: 250px;
    background-color: rgba(117, 117, 117, .5);
    bottom: 50px;
    left: 20px;
    position: absolute;
    border-radius: 50%;
    padding: 50px;
    text-align: center;
}

#hero-plant-info h3 {
    font-style: italic;
    margin: 5px;
    letter-spacing: normal;
}

/* The Science section */

#the-science {
    margin: 30px 20%;
    text-align: center;
    margin-bottom: 60px;
}

#the-science h2 {
    font-size: 300%;
}

#the-science h3 {
    margin: 25px;
    text-decoration: underline;
}

/* air purifying plants photos * 6 */

#snake {
    background: url(../images/snake-plant.jpg) no-repeat center center;
    height: 600px;
    width:50%;
    background-size: cover;
    overflow: hidden;
    border-radius: 10px;
    float:left;
}

#rubber {
    background: url(../images/rubber-plant.jpg) no-repeat center center;
    height: 600px;
    width:50%;
    background-size: cover;
    overflow: hidden;
    border-radius: 10px;
    float:right;
}

#spider {
    background: url(../images/spiderplant.jpg) no-repeat center center;
    height: 600px;
    width:50%;
    background-size: cover;
    overflow: hidden;
    border-radius: 10px;
    float:left;
}

#aloe {
    background: url(../images/aloe-vera.jpg) no-repeat center center;
    height: 600px;
    width:50%;
    background-size: cover;
    overflow: hidden;
    border-radius: 10px;
    float:right;
}
#english-ivy {
    background: url(../images/english-ivy.jpg) no-repeat center center;
    height: 600px;
    width:50%;
    background-size: cover;
    overflow: hidden;
    border-radius: 10px;
    float:left;
}

#bamboo {
    background: url(../images/bamboo-palm.jpg) no-repeat center center;
    height: 600px;
    width:50%;
    background-size: cover;
    overflow: hidden;
    border-radius: 10px;
    float:right;
}

#six-plants h2, #six-plants h3  {
    background-color:rgba(117, 117, 117, .5) ;
    position: relative;
    padding-left: 60px;
}
    


/* footer */
footer {
    height: 150px;
}

.various-links{
text-align: center;
}

.various-links > li {
    display: inline;
}

.various-links i {
font-size: 200%;
margin: 1%;
padding: 10%;
color:#ffff;
}

/* Plants page */

.plant-info {

    height: 400px;
    width:100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 30px 15px;
}

.info-left {
    padding-top: 30px;
    float: left;
    width: 33%;

}

.info-right{
    float:right;
    width:33%;

}

.plant-center-photo {
    background: url(../images/snake-plant.jpg) no-repeat center center;
    background-size: cover;
    margin: 0 auto;
    width: 33%;
  

}